body{
    background: #525fee;
    font: normal 16px Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    margin: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    overflow:hidden;
}

#showcase{
    background-image: url("res/main_header.jpg");
    background-size: cover;
    height: 175px;
    position: relative;
    color: #fff;
    text-align: center;


    h1{
        position: relative;
        margin: 0;
        padding: 10px 0;
        font-size: 2.5em;
        line-height: 2em;
        font-family: 'Team 401';
    }
    p{
        position: absolute;
        font-size: 1.2em;
        top: 70%;
        left:85%
    }
}
#navbar{
    background: #575757;
    color: #fff;
    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            display: inline;
            margin-right: 20px;

            a {
                color: #fff;
                text-decoration: none;
                font-size: 18px;
                padding-right: 20px;
            }
        }
    }
}

#draft-settings-form{
    background: #419313;
    color: #fff;

    ul{
        list-style: none;
        margin: 0;
        padding: 20px 40px;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-end;
        gap: 20px;

        .scoring-type-row {
            margin-left: auto;
        }

        li {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 0;
        }

    }

    input[type="number"] {
        width: 60px;
        font-size: 15px;
        padding: 4px 6px;
        box-sizing: border-box;
    }

    select {
        background-color: #2563eb;
        color: #fff;
        border: none;
        border-radius: 4px;
        padding: 4px 6px;
        font-size: 15px;
        box-sizing: border-box;
    }

   button[type="submit"] {
        background-color: #2563eb;
        color: #fff;
        border: none;
        padding: 8px 18px;
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;

    }

    button[type="submit"]:hover {
        background-color: #fff;
        color: #e11d48; /* A strong red */

        border: none;
        padding: 8px 18px;
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
    }

}



